.profile-container {
    width: 70vw;
    display: flex;
    margin: auto !important;
    margin-top: 150px !important;
    margin-bottom: 50px !important;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px rgb(209, 209, 209),
                -1px -1px 1px 1px rgb(209, 209, 209);
}

.content-profile1 {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.content-profile1 h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.content-profile1 img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.content-profile1 .profile, .content-profile1 .email, .content-profile1 .phone, .content-profile1 .address {
    display: flex !important;
    align-items: center !important;
    margin: 10px;
}

.sub-profile, .sub-email, .sub-phone, .sub-address {
    display: flex;
    flex-direction: column;
}

.sub-profile .info1, .sub-email .info1, .sub-phone .info1, .sub-address , .info1 {
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: 17px;
}

.sub-profile .info2, .sub-email .info2, .sub-phone .info2, .sub-address .info2 {
    text-align: left;
    font-size: 14px;
}

.content-profile2 {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.photo-profile2 {
    border-radius: 0px !important;
}

.content-profile2 img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.content-profile2 .btn-image{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: orange ;
    border: none;
    color: white;
    font-weight: bold;
}

.input-image {
    display: none !important;
    position: absolute !important;
}

.btn-image {
    &:hover {
        background-color: orange ;
        opacity: 0.8;
    }
}

